.PreviewRoot {
    background-color: #F4F4F4;
    width: calc(100% - 20px);
    border-radius: 20px;
    margin: 20px;
    margin-left: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}